---
layout: default
meta: A gallery of Magnificent Bouquet's luxury seasonal bouquets & fruit baskets, weddings, stately houses, castles & cathedrals, funeral flowers, contract flowers & special flowers.
title: Gallery
og-url: gallery
priority: 0.5
changefreq: monthly
skip-link-1: designs
skip-link-title-1: Jump to Signature Designs
---

{% include banner.html image="placeholder-3by2.svg" alt="gallery banner" title="Gallery" txt="Here are some of our signature designs" btn-link="contact/" btn-txt="Contact Us" %}

<section itemref itemscope itemtype="http://schema.org/CreativeWork" class="gallery-section" id="designs">
  <h3 itemprop="name" class="text-center mega heading pad-t-1-4 pad-b-1-4 push-0">Bespoke Designs</h3>
  <div class="pad-t pad-b-2">
    {% include gallery-section.html heading="Seasonal Bouquets & Fruit Baskets" image-1="seasonal/seasonal-hp-3.jpg" alt-1="" image-2="seasonal/seasonal-hp-2.jpg" alt-2="" image-3="seasonal/seasonal-hp-1.jpg" alt-3="" txt="Whether it’s a birthday, a christening, a thank you, an apology (!), a new baby, an “I love you” or anything else, we carry a range of seasonal blooms to cater for all those <i>need to send flowers</i> moments." btn-txt="View All" mod-btn="basket-btn" %}

    {% include gallery-section.html heading="Weddings" image-1="weddings/weddings-hp-3.jpg" alt-1="" image-2="weddings/weddings-hp-2.jpg" alt-2="" image-3="weddings/weddings-hp-1.jpg" alt-3="" txt="Your wedding flowers should be a truly personal statement about you and how you feel on this most special of days. Initially, give us an idea of the style of your dress, your themes and your venue. Then together, we’ll design wedding flowers exclusively for you, tailored to fit your personality, location and dreams." btn-txt="View All" mod-btn="wedding-btn" %}

    {% include gallery-section.html heading="Stately houses, Castles & Cathedrals" image-1="castles/castles-hp-3.jpg" alt-1="Michael & Danielle holding a baby after their wedding" image-2="castles/castles-hp-2.jpg" alt-2="Michael & Danielle's table bouquet" image-3="castles/castles-hp-1.jpg" alt-3="Michael & Danielle's table arrangement" txt="Flowers at an event should have a sense of balance and rhythm. A natural flow and harmony connecting all the arrangements, making you want to look and keep on looking. And every bride should savour that spectacular moment, with a grand entrance carrying her Magnificent Bouquet. It’s about creating a series of WOW moments to surprise and delight guests as they move through your venue – whether it’s a castle, church, hotel, marquee, stately house or favourite restaurant." btn-link="" btn-txt="View All" mod-btn="stately-btn" %}

    {% include gallery-section.html heading="Funeral and Natural Burial Flowers" image-1="funeral/funeral-hp-1.jpg" alt-1="Orange roses in a heart funeral bouquet" image-2="funeral/funeral-hp-2.jpg" alt-2="White rose funeral bouquet" image-3="funeral/funeral-hp-3.jpg" alt-3="Pink daiseys and roses funeral wreath" txt="At Magnificent Bouquets we believe in sympathy with empathy. Funerals are your last chance to say goodbye. Having lost three dear ones within six months of each other, we can truly appreciate how awful it is to experience that loss. And every sympathy tribute that is created has those feelings deeply embedded in, allowing us to produce arrangements that really say what you feel in a beautiful way." btn-link="" btn-txt="View All" mod-btn="funeral-btn" %}

    {% include gallery-section.html heading="Contract Flowers & Special Events" image-1="contract/contract-hp-3.jpg" alt-1="" image-2="contract/contract-hp-2.jpg" alt-2="" image-3="contract/contract-hp-1.jpg" alt-3="" txt="For businesses, restaurants, hotels and homes we provide a regular contract service of fresh floral designs and arrangements, styled to add interest and a focal point for your customers." btn-link="" btn-txt="View All" mod-btn="contract-btn" %}
  </div>

  <div id="modal-basket" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="push-1-2 exa" id="top-basket">Seasonal Bouquets & Fruit Baskets</h4>
      <div class="photo-grid relative">
        <span class="close nina absolute pin-top-right" onclick="closeModal()">x</span>
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-1.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-2.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-4.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-5.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-6.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-7.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-8.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-9.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-11.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-12.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-13.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-14.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-15.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/seasonal/seasonal-16.jpg">
      </div>
      <div class="pad-t-2 pad-b-2 text-center">
        <a class="btn btn-ghost" href="#top-basket">To Top</a>
      </div>
    </div>
  </div>

  <div id="modal-wedding" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="push-1-2 exa" id="top-wedding">Weddings</h4>
      <div class="photo-grid relative">
        <span class="close nina absolute pin-top-right" onclick="closeModal()">x</span>
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-1.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-2.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-3.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-4.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-5.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-6.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-7.jpg">
        <div class="gallery-quote island">
          <p class="block milli island push-0">“Magnificent Bouquets made me the happiest bride ever!”</p>
        </div>
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-8.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-9.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-10.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-11.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-12.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-13.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-14.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/weddings/weddings-15.jpg">
      </div>
      <div class="pad-t-2 pad-b-2 text-center">
        <a class="btn btn-ghost" href="#top-wedding">To Top</a>
      </div>
    </div>
  </div>

  <div id="modal-stately" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="push-1-2 exa" id="top-stately">Stately houses, Castles & Cathedrals</h4>
      <div class="photo-grid relative">
        <span class="close nina absolute pin-top-right" onclick="closeModal()">x</span>
        <img itemprop="image" alt="Wedding decoration" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-1.jpg">
        <img itemprop="image" alt="Bride of the wedding" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-2.jpg">
        <img itemprop="image" alt="Groomsman flowers" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-3.jpg">
        <img itemprop="image" alt="Grooms flower" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-4.jpg">
        <img itemprop="image" alt="Walking the aisle of a castle" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-5.jpg">
        <img itemprop="image" alt="Bride holding lovely red bouquet" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-6.jpg">
        <img itemprop="image" alt="Emotional parents" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-7.jpg">
        <img itemprop="image" alt="Wedding decoration" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-8.jpg">
        <img itemprop="image" alt="Table bouquet" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-9.jpg">
        <img itemprop="image" alt="Wedding head table" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-10.jpg">
        <img itemprop="image" alt="Bride and groom holding a baby" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-11.jpg">
        <img itemprop="image" alt="Family celebrating" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-12.jpg">
        <img itemprop="image" alt="Flowers outside the castle" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-13.jpg">
        <img itemprop="image" alt="Castle aisle" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-14.jpg">
        <img itemprop="image" alt="Castle aisle flowers" class="island-1-8" src="{{site.baseurl}}/images/castles/castles-15.jpg">
      </div>
      <div class="pad-t-2 pad-b-2 text-center">
        <a class="btn btn-ghost" href="#top-stately">To Top</a>
      </div>
    </div>
  </div>

  <div id="modal-funeral" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="push-1-2 exa" id="top-funeral">Funeral Flowers</h4>
      <div class="photo-grid relative pad-b">
        <span class="close nina absolute pin-top-right" onclick="closeModal()">x</span>
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-1.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-2.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-3.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-4.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-5.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-6.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-7.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-10.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-11.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-12.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-13.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-14.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/funeral-15.jpg">
      </div>
      <h4 class="push-1-2 exa" id="top-funeral">Natural Burial Flowers</h4>
      <div class="photo-grid text-center relative">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/natural-funeral-1.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/natural-funeral-2.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/natural-funeral-3.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/natural-funeral-4.jpg">
      </div>
      <div class="pad-t-2 pad-b-2 text-center">
        <a class="btn btn-ghost" href="#top-funeral">To Top</a>
      </div>
    </div>
  </div>

  <div id="modal-contract" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="push-1-2 exa" id="top-contract">Contract Flowers & Special Events</h4>
      <div class="photo-grid relative">
        <span class="close nina absolute pin-top-right" onclick="closeModal()">x</span>
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-1.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-2.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-3.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-4.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-5.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-6.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-7.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-8.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-9.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-10.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-11.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-12.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-13.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-14.jpg">
        <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/contract/contract-15.jpg">
      </div>
      <div class="pad-t-2 pad-b-2 text-center">
        <a class="btn btn-ghost" href="#top-contract">To Top</a>
      </div>
    </div>
  </div>
</section>
