---
layout: default
meta: A gallery of Magnificent Bouquet's luxury seasonal bouquets & fruit baskets, weddings, stately houses, castles & cathedrals, funeral flowers, contract flowers & special flowers.
title: Gallery
og-url: gallery
priority: 0.5
changefreq: monthly
skip-link-1: designs
skip-link-title-1: Jump to Signature Designs
---

{% include banner.html image="placeholder-3by2.svg" alt="gallery banner" title="Gallery" txt="Here are some of our signature designs" btn-link="contact/" btn-txt="Contact Us" %}

<section itemref itemscope itemtype="http://schema.org/CreativeWork" class="gallery-section" id="designs">
  <h3 class="text-center mega heading pad-t-1-4 pad-b-1-4 push-0"><span itemprop="name">Magnficent Bouquets</span> Designs</h3>
  <div class="pad-t pad-b-2">
    {% include gallery-section.html heading="Seasonal Bouquets & Fruit Baskets" image-1="placeholder-1by1.svg" alt-1="" image-2="placeholder-1by1.svg" alt-2="" image-3="placeholder-3by2.svg" alt-3="" txt="Whether it’s a birthday, a christening, a thank you, an apology (!), a new baby, an “I love you” or anything else, we carry a range of seasonal blooms to cater for all those <i>need to send flowers</i> moments." btn-txt="View All" mod-btn="basket-btn" %}

    {% include gallery-section.html heading="Weddings" image-1="placeholder-1by1.svg" alt-1="" image-2="placeholder-1by1.svg" alt-2="" image-3="placeholder-3by2.svg" alt-3="" txt="Your wedding flowers should be a truly personal statement about you and how you feel on this most special of days. Initially, give us an idea of the style of your dress, your themes and your venue. Then together, we’ll design wedding flowers exclusively for you, tailored to fit your personality, location and dreams." btn-txt="View All" mod-btn="wedding-btn" %}

    {% include gallery-section.html heading="Stately houses, Castles & Cathedrals" image-1="placeholder-1by1.svg" alt-1="" image-2="placeholder-1by1.svg" alt-2="" image-3="placeholder-3by2.svg" alt-3="" txt="Flowers at an event should have a sense of balance and rhythm. A natural flow and harmony connecting all the arrangements, making you want to look and keep on looking. And every bride should savour that spectacular moment, with a grand entrance carrying her Magnificent Bouquet. It’s about creating a series of WOW moments to surprise and delight guests as they move through your venue – whether it’s a castle, church, hotel, marquee, stately house or favourite restaurant." btn-link="" btn-txt="View All" mod-btn="stately-btn" %}

    {% include gallery-section.html heading="Funeral and Natural Burial Flowers" image-1="funeral/funeral-1.jpg" alt-1="Orange roses in a heart funeral bouquet" image-2="funeral/funeral-2.jpg" alt-2="White rose funeral bouquet" image-3="funeral/funeral-3.jpg" alt-3="Pink daiseys and roses funeral wreath" txt="At Magnificent Bouquets we believe in sympathy with empathy. Funerals are your last chance to say goodbye. Having lost three dear ones within six months of each other, we can truly appreciate how awful it is to experience that loss. And every sympathy tribute that is created has those feelings deeply embedded in, allowing us to produce arrangements that really say what you feel in a beautiful way." btn-link="" btn-txt="View All" mod-btn="funeral-btn" %}

    {% include gallery-section.html heading="Contract Flowers & Special Events" image-1="placeholder-1by1.svg" alt-1="" image-2="placeholder-1by1.svg" alt-2="" image-3="placeholder-3by2.svg" alt-3="" txt="For businesses, restaurants, hotels and homes we provide a regular contract service of fresh floral designs and arrangements, styled to add interest and a focal point for your customers." btn-link="" btn-txt="View All" mod-btn="contract-btn" %}
  </div>

  <div id="modal-basket" class="modal pad-t">
    <div class="gallery-wrapper gutter">
      <h4 class="push-1-2">Seasonal Bouquets & Fruit Baskets</h4>
      <div class="modal-content relative">
        <span class="close absolute pin-top-right nina" onclick="closeModal()">x</span>
        <div class="gallerySlide">
          <div class="kilo">1 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-1by1.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">2 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-1by1.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">3 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-2by3.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">4 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">5 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">6 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">7 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">8 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">9 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">10 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">11 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">12 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">13 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">14 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <div class="gallerySlide">
          <div class="kilo">15 / 15</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
        </div>

        <a class="prev absolute pin-center-left island peta" onclick="plusDivsModal(-1, 0)">&#10094;</a>
        <a class="next absolute pin-center-right island peta" onclick="plusDivsModal(1, 0)">&#10095;</a>

      </div>
    </div>
  </div>

  <div id="modal-wedding" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="peta push-1-2">Weddings</h4>
      <div class="modal-content relative">
        <span class="close absolute pin-top-right nina" onclick="closeModal()">x</span>
        <div class="gallerySlide2">
          <div class="kilo">1 / 4</div>
          <img itemprop="image" lass="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Weddings 1</p>
        </div>

        <div class="gallerySlide2">
          <div class="kilo">2 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Weddings 2</p>
        </div>

        <div class="gallerySlide2">
          <div class="kilo">3 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Weddings 3</p>
        </div>

        <div class="gallerySlide2">
          <div class="kilo">4 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Weddings 4</p>
        </div>

        <a class="prev absolute pin-center-left island peta" onclick="plusDivsModal(-1, 1)">&#10094;</a>
        <a class="next absolute pin-center-right island peta" onclick="plusDivsModal(1, 1)">&#10095;</a>
      </div>
    </div>
  </div>

  <div id="modal-stately" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="peta push-1-2">Stately houses, Castles & Cathedrals</h4>
      <div class="modal-content relative">
        <span class="close absolute pin-top-right nina" onclick="closeModal()">x</span>
        <div class="gallerySlide3">
          <div class="kilo">1 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Stately houses, Castles & Cathedrals 1</p>
        </div>

        <div class="gallerySlide3">
          <div class="kilo">2 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Stately houses, Castles & Cathedrals 2</p>
        </div>

        <div class="gallerySlide3">
          <div class="kilo">3 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Stately houses, Castles & Cathedrals 3</p>
        </div>

        <div class="gallerySlide3">
          <div class="kilo">4 / 4</div>
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
          <p class="pad-t-1-2">Stately houses, Castles & Cathedrals 4</p>
        </div>

        <a class="prev absolute pin-center-left island peta" onclick="plusDivsModal(-1, 2)">&#10094;</a>
        <a class="next absolute pin-center-right island peta" onclick="plusDivsModal(1, 2)">&#10095;</a>
      </div>
    </div>
  </div>

  <div id="modal-funeral" class="modal pad-t">
    <div class="wrapper gutter">
      <h4 class="push-1-2 exa">Funeral and Natural Burial Flowers</h4>
      <div class="wrapper">
        <div class="photo-grid relative">
          <span class="close nina absolute pin-top-right" onclick="closeModal()">x</span>
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-1.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-2.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-3.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-4.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-5.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-6.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-7.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-8.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-9.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-10.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-11.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-12.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-13.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-14.jpg">
            <img itemprop="image" class="island-1-8" src="{{site.baseurl}}/images/funeral/gallery-15.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="modal-contract" class="modal pad-t">
      <div class="wrapper gutter">
        <h4 class="peta push-1-2">Contract Flowers & Special Events</h4>
        <div class="modal-content relative">
          <span class="close absolute pin-top-right nina" onclick="closeModal()">x</span>
          <div class="gallerySlide5">
            <div class="kilo">1 / 5</div>
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
            <p class="pad-t-1-2">Contract Flowers 1</p>
          </div>

          <div class="gallerySlide5">
            <div class="kilo">2 / 5</div>
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
            <p class="pad-t-1-2">Contract Flowers 2</p>
          </div>

          <div class="gallerySlide5">
            <div class="kilo">3 / 5</div>
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
            <p class="pad-t-1-2">Contract Flowers 3</p>
          </div>

          <div class="gallerySlide5">
            <div class="kilo">4 / 5</div>
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
            <p class="pad-t-1-2">Contract Flowers 4</p>
          </div>

          <div class="gallerySlide5">
            <div class="kilo">5 / 5</div>
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}/images/placeholder-3by2.svg">
            <p class="pad-t-1-2">Contract Flowers 5</p>
          </div>
        </div>

        <a class="prev absolute pin-center-left island peta" onclick="plusDivsModal(-1, 4)">&#10094;</a>
        <a class="next absolute pin-center-right island peta" onclick="plusDivsModal(1, 4)">&#10095;</a>
      </div>
    </div>
  </div>
</section>
