<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Magnificent Bouquets</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="author" content="Jo Hammonds">
  <meta name="ICBM" content="52.5987,-1.0763">
  <meta name="geo.position" content="52.5987,-1.0763">
  <meta name="geo.region" content="GB-LEC">
  <meta name="geo.placename" content="Oadby">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/site.webmanifest">
  <meta name="msapplication-TileColor" content="#bb91bc">
  <meta name="theme-color" content="#bb91bc">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Magnificent Bouquets">
  <meta property="og:url" content="{{site.baseurl}}/{{page.og-url}}">
  <meta property="og:image" content="{{site.baseurl}}/images/logo-og.jpg">
  <meta property="og:site_name" content="Magnificent Bouquets">
  <meta property="og:description" content="{{page.meta}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@JophielsFlowers">
  <meta name="twitter:title" content="Magnificent Bouquets">
  <meta name="twitter:url" content="{{site.baseurl}}/{{page.og-url}}">
  <meta name="twitter:description" content="{{page.meta}}">
  <meta name="twitter:image" content="{{site.baseurl}}/images/logo-og.jpg">
</head>
<body>
  <div itemref="data-founder" itemscope itemtype="http://schema.org/Organization">
    <ul class="nav skip-links">
      <li><a itemprop="url" href="{{site.baseurl}}/#main">Jump to Main Content</a></li>
      <li><a itemprop="url" href="{{site.baseurl}}/#nav">Jump to Navigation</a></li>
      <li><a itemprop="url" href="{{site.baseurl}}/{{page.skip-link-1}}">{{page.skip-link-title-1}}</a></li>
      <li><a itemprop="url" href="{{site.baseurl}}/{{page.skip-link-2}}">{{page.skip-link-title-2}}</a></li>
    </ul>

    <nav class="push-0" id="nav" role="navigation">
      <div class="contact-top gutter pad-b-1-4 push-0">
        <ul class="wrapper pad-t-1-4 push-0 list-group-inline text-right">
          <li><a itemprop="telephone" class="micro push-r" href="tel:+447940582490"><i class="icon i-18 gutter-1-2"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#phone"></use></svg></i>7940 582 490</a></li>
          <li><a itemprop="email" class="micro" href="mailto:magnificentbouquets@gmail.com" subject="Let's Talk Flowers!"><i class="icon i-18 gutter-1-2"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#email"></use></svg></i>magnificentbouquets@gmail.com</a></li>
        </ul>
      </div>

      <header class="header">
        <div class="wrapper top-nav grid grid-middle gutter push-0 pad-t-1-2 pad-b-1-4">
          <div class="unit xs-1-2 l-1-5 logo push-1-2">
            <a itemprop="url" rel="home" href="{{site.baseurl}}/">
              <img itemprop="logo" class="img-flex" src="{{site.baseurl}}/images/magnificent-bouquets-logo.png">
            </a>
          </div>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <ul class="nav-list menu menu-1 push-0 unit xs-1 l-2-5 gutter-0">
            <li class="block milli gutter-1-2 island-1-2"><a href="{{site.baseurl}}/services/" {% if page.url == '/services/' %} class="current" {% endif %}>Services</a></li>
            <li class="block milli gutter-1-2 island-1-2"><a href="{{site.baseurl}}/about/" {% if page.url == '/about/' %} class="current" {% endif %}>About</a></li>
            <li class="block milli gutter-1-2 island-1-2"><a href="{{site.baseurl}}/gallery/" {% if page.url == '/gallery/' %} class="current" {% endif %}>Gallery</a></li>
          </ul>
          <ul class="nav-list menu menu-2 push-0 unit xs-1 l-2-5">
            <li class="block milli gutter-1-2 island-1-2" ><a itemprop="url" href="https://magnificentbouquets.tumblr.com/">Blog</a></li>
            <li class="block milli gutter-1-2 island-1-2"><a href="{{site.baseurl}}/contact/" {% if page.url == '/contact/' %} class="current" {% endif %}>Contact</a></li>
            <li class="block milli island-1-2"><a itemprop="url" href="{{site.baseurl}}/#testimonials" {% if page.url == '/#testimonials/' %} class="current" {% endif %}>Testimonials</a></li>
          </ul>
        </div>
      </header>
    </nav>

    <main itemref="data-contact" itemscope="provider" itemtype="http://schema.org/Florist">
      {{content}}
    </main>
  </div>

  <footer id="data-founder" itemprop="founder" itemscope itemtype="http://schema.org/Person">
    <div class="wrapper gutter pad-t pad-b-2">
      <p class="milli">Magnificent Bouquets looks forward to talking about flowers with you soon.</p>
      <p class="micro push-0" itemprop="jobTitle">Prorietor & Creative Director</p>
      <p class="micro push-0 bold" itemprop="name">Jo Hammonds</p>
      <div id="data-contact">
        <a class="micro push-0 block" href="tel:+447940582490" itemprop="telephone">07940 582 490</a>
        <a href="mailto:magnificentbouquets@gmail.com" subject="Let's Talk Flowers!" class="micro" itemprop="email">magnificentbouquets@gmail.com</a>
        <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="micro push-0 italic place pad-t-1-2">Magnificent Bouquets, <span itemprop="addressLocality">Oadby</span>, <span itemprop="addressRegion">Leicestershire</span>, <itemprop="addressCountry">England</span></p>
      </div>
      <small class="micro push-0">© <span itemprop="affiliation">Magnificent Bouquets</span> 2016. All rights reserved.</small>
    </div>
  </footer>

  <script src="https://thomasjbradley.github.io/form-validation-helper/index.js"></script>
  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("badge");
      if (n==undefined){n = ++slideIndex}
      if (n > x.length) {
        slideIndex = 1
      }
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
         x[slideIndex-1].className += " animate-fading";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" badge-focus", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " badge-focus";

      setTimeout(showDivs, 10000);
    }
  </script>

  <script>
    var modalBasket = document.getElementById('modal-basket');
    var btnBasket = document.getElementById("basket-btn");
    var modalWedding = document.getElementById('modal-wedding');
    var btnWedding = document.getElementById("wedding-btn");
    var modalStately = document.getElementById('modal-stately');
    var btnStately = document.getElementById("stately-btn");
    var modalFuneral = document.getElementById('modal-funeral');
    var btnFuneral = document.getElementById("funeral-btn");
    var modalContract = document.getElementById('modal-contract');
    var btnContract = document.getElementById("contract-btn");

    btnBasket.onclick = function() {
      modalBasket.style.display = "block";
    }

    btnWedding.onclick = function() {
      modalWedding.style.display = "block";
    }

    btnStately.onclick = function() {
      modalStately.style.display = "block";
    }

    btnFuneral.onclick = function() {
      modalFuneral.style.display = "block";
    }

    btnContract.onclick = function() {
      modalContract.style.display = "block";
    }

    function closeModal() {
      document.getElementById('modal-basket').style.display = "none";
      document.getElementById('modal-wedding').style.display = "none";
      document.getElementById('modal-stately').style.display = "none";
      document.getElementById('modal-funeral').style.display = "none";
      document.getElementById('modal-contract').style.display = "none";
    }

    var slideIndex = [1,1,1,1,1];
    var slideId = ["gallerySlide", "gallerySlide2", "gallerySlide3", "gallerySlide4", "gallerySlide5"]
    showDivsModal(1, 0);
    showDivsModal(1, 1);
    showDivsModal(1, 2);
    showDivsModal(1, 3);
    showDivsModal(1, 4);

    function plusDivsModal(n, no) {
      showDivsModal(slideIndex[no] += n, no);
    }

    function showDivsModal(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }

      x[slideIndex[no]-1].style.display = "block";
    }
  </script>

  <script>
    document.getElementById("defaultOpen").click();
    function openService(evt, serviceName) {
      var i, tabcontent, tablinks;

      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById(serviceName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
</body>
</html>
